<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- Ca c'est pour les mobiles -->
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="Content/Css/inscription.css" />
  <title>Sorts d'invocateur</title>
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="?controller=accueil">Liste Personnages</a></li>
          <li><a href="?controller=sorts_d_invocateur">Sorts d'invocateurs</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <p>
    <?php 
      foreach($data as  $cle => $value):
      $summoner_name = $data[$cle]["name"];
    ?>
    <strong>
      <?php 
        switch($data[$cle]["id"]){
          case 'SummonerPoroThrow':
            break;

          case 'SummonerPoroRecall':
            break;
            
          case 'SummonerSnowURFSnowball_Mark':
            break;
            
          case 'SummonerSnowball':
            break;

          case 'Summoner_UltBook_Placeholder':
            break;
          
          default:
            echo $summoner_name; ?>
            </strong>
            <img src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/<?=$cle?>.png">        
           <?php echo $data[$cle]["description"];
        }
          ?>

    </br>
    <br>
    <?php endforeach?>



  </p>

  <!-- var_dump($data); -->





</body>

</html>