<footer>
    <div id="dans_footer">
      <div id="contact">
        <h1>Contact</h1>
        <span>Pour aller sur la page officiel, <a href="https://www.leagueoflegends.com/fr-fr/">cliquez ici</a></span>

        <div id="suivez-nous">
          <h1>Suivez-Nous</h1>
          <span>
            <a href="https://twitter.com/LoL_France"><img src="Content/image/twitter.png" alt="Twitter"
                title="Twitter"></a>
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>  

</html>