<!DOCTYPE html>
<html lang="fr">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- Ca c'est pour les mobiles -->
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="Content/Css/sorts_invocateur.css" />
  <link rel="stylesheet" href="Content/Css/footer.css" />
  <link rel="stylesheet" href="Content/Css/header.css" />
  <title>Sorts d'invocateur</title>
</head>


<?php require_once("Views/view_header.html")?>
  <?php 
        foreach($data as  $cle => $value):
        $nom_sorts_invocateur = $data[$cle]["name"];
      ?>
  <?php 
          switch($data[$cle]["id"]){
            case 'SummonerPoroThrow':
              break;

            case 'SummonerPoroRecall':
              break;
              
            case 'SummonerSnowURFSnowball_Mark':
              break;
              
            case 'SummonerSnowball':
              break;

            case 'Summoner_UltBook_Placeholder':
              break;
            
            default:
        ?>
  <div class="imageEtNom">
    <div class="invocateur">
      <img src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/<?=$cle?>.png" class="invocateur-img">
      <span class="texte">
        <strong>
          <?php echo $nom_sorts_invocateur; ?>
        </strong>
        <?php echo $data[$cle]["description"];
          } ?>
      </span>
    </div>
  </div>
  <?php endforeach?>


  <?php require_once("Views/view_footer.html")?>