<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<!-- Ca c'est pour les mobiles -->
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="Content/Css/accueil.css" />
	<link rel="stylesheet" href="Content/Css/footer.css" />
	<title>Liste personnages League of Legends</title>
</head>

<body>
	<header>
		<div>
			<nav class="container">
				<ul>
					<li><a href="?controller=accueil">Accueil</a></li>
					<li><a href="?controller=sorts_d_invocateur">Sorts d'invocateurs</a></li>
				</ul>
			</nav>
			<h1 class="container">
				Voici la liste des personnages
				<!-- <?php var_dump($data)?> -->
			</h1>
		</div>
	</header>
	<form action="?controller=details_personnages" method="post" class="parent-personnages-liste">
		<div class="personnages-liste">
			<?php foreach($data as $cle => $value):  
			$id = $value['id'];
			?>
			<div class="image-et-nom">
				<a href="?controller=details_personnages&name=<?=$id?>">
					<img src="http://ddragon.leagueoflegends.com/cdn/11.20.1/img/champion/<?=$id?>.png">
				</a>
				<p>
					<?= $value["name"] ?>
				</p>
			</div>	
			<br>
			<?php endforeach; ?>
		</div>
	</form>



	<footer>
		<div id="dans_footer">
		  <div id="contact">
			<h1>Contact</h1>
			<span>Pour aller sur la page officiel, <a href="https://www.leagueoflegends.com/fr-fr/">cliquez ici</a></span>
	
			<div id="suivez-nous">
			  <h1>Suivez-Nous</h1>
			  <span>
				<a href="https://twitter.com/LoL_France"><img src="Content/image/twitter.png" alt="Twitter"
					title="Twitter"></a>
			  </span>
			</div>
		  </div>
		</div>
	  </footer>
	</body>  
</html>