<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- Ca c'est pour les mobiles -->
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="Content/Css/inscription.css" />
  <title>Sorts d'invocateur</title>
</head>

<body>
  <header class="container">
    <div class="container">
      <a href="?controller=accueil"><img src="Content/image\logo_league_of_legends.jpg" alt="Logo WYES"
          title="Logo: WYES" /></a>

      <nav>
        <ul>
          <li><a href="?controller=inscription">Objets</a></li>
          <li><a href="?controller=sorts_d_invocateur">Sorts d'invocateurs</a></li>
          <li><a href="Views/view_boutique.html">Modes de jeu</a></li>
          <li><a href="Views/test.php">page test</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <p>
    <?php 
      foreach($data as  $cle => $value):
      $summoner_name = $data[$cle]["name"];
    ?>
    <strong>
      <?php 
        switch($data[$cle]["id"]){
          case 'SummonerPoroThrow':
            break;

          case 'SummonerPoroRecall':
            break;
            
          case 'SummonerSnowURFSnowball_Mark':
            break;
            
          case 'SummonerSnowball':
            break;

          case 'Summoner_UltBook_Placeholder':
            break;
          
          default:
            echo $summoner_name; ?>
            </strong>
            <img src="http://ddragon.leagueoflegends.com/cdn/11.21.1/img/spell/<?=$cle?>.png">        
           <?php echo $data[$cle]["description"];
        }
          ?>

    </br>
    <br>
    <?php endforeach?>



  </p>

  <!-- var_dump($data); -->





</body>

</html>