<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- Remplacer le titre par le nom du personnage -->
        <title>Détails </title>

        <h1>Bienvenue sur votre espace personnel</h1>
    </head>
    <style>
    form
    {
        text-align:center;
    }
    </style>
    <body>

        <p>
          <?php var_dump($data); ?>
          <!-- <?php echo var_dump($data["Aatrox"]); ?> -->
          <!-- <?php echo var_dump($data["Aatrox"]["tags"][1]); ?> -->
          <!-- Bonjour et bienvenue <?=var_dump($data) ?> -->

        </p>
      
  </body>
</html>
