<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<!-- Ca c'est pour les mobiles -->
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="Content/Css/accueil.css" />
	<link rel="stylesheet" href="Content/Css/footer.css" />
	<link rel="stylesheet" href="Content/Css/header.css" />
	<title>Liste personnages League of Legends</title>
</head>

<?php require_once("Views/view_header.html")?>
	<h1 class="container">Personnages</h1>
	<form action="?controller=details_personnages" method="post" class="parent-personnages-liste ligne">
		<div class="personnages-liste ligne ">
			<?php foreach($data as $cle => $value):  
			$id = $value['id'];
			?>
			<div class="colonne">
				<a href="?controller=details_personnages&name=<?=$id?>">
					<img src="http://ddragon.leagueoflegends.com/cdn/11.20.1/img/champion/<?=$id?>.png">
				</a>
				<p>
					<?= $value["name"] ?>
				</p>
			</div>	
			<br>
			<?php endforeach; ?>
		</div>
	</form>
<?php require_once("Views/view_footer.html")?>