

/* Définition des polices personnalisées */

/* On va sur le site FontSquirrel qui propose un générateur de polices avec @font-face.
   L'outil nous donne toutes les versions de polices pour les différents navigateurs et
   nous donne directement le code CSS */


* {
    box-sizing: border-box;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    justify-content: center;
}

.personnages-liste {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    justify-content:space-around;
}

.parent-personnages-liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container>nav {
    justify-content: center;
    display: flex;
}

.image-et-nom{
    display: flex;
    flex-direction: column;
}

/* Nav: Navigation Transversale de la page */

nav ul {
    list-style-type: none;
    /* Enlève les puces */
    display: flex;
    /* Mettre tout sur une ligne */
}

nav li {
    margin-right: 25px;
}

nav a {
    font-size: 1.62em;
    color: navy;
    text-decoration: none;
    /* Cela enlève le soulignement */
}

nav a:hover {
    color: maroon;
    text-decoration: underline maroon;
}


/* Footer: le bas de la page */

footer {
    margin-top: 55px;
    display: flex;
    background: url("images/ico_top.png") no-repeat top center, url("images/separateur.png") repeat-x top, url("images/ombre.png") repeat-x top;
    justify-content: center;
}

footer #dans_footer {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 55px;
    display: flex;
}

footer h1 {
    text-align: center;
    font-size: 1.8em;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

footer a {
    color: navy;
    text-decoration: none;
    font-size: 1.5em;
}

footer a:hover {
    color: maroon;
    text-decoration: underline maroon;
}

#contact {
    margin-left: 10px;
}

#suivez-nous {
    margin-left: 80px;
    margin-right: 72px;
}

#suivez-nous img {
    width: 70px;
    margin-right: 5px;
}

#sites_wyes {
    margin-left: 30px;
    margin-right: 10px;
}

/* Fin de la page d'Accueil */

/* PARTIE RESPONSIVE */

@media all and (max-width: 1024px) {

    /* Page qui s'adapte en fonction de la taille automatiquement */
    #bloc_page {
        width: auto;
    }


    /* On s'occupe de la navigation */
    nav {
        width: auto;
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding-left: 4px;
    }

    nav a {
        font-size: 1.3em;
    }

}


/* Quand on est sur mobile */

@media all and (max-device-width: 480px) {

    /* Page qui s'adapte en fonction de la taille automatiquement */
    #bloc_page {
        width: auto;
    }


    /* On s'occupe de la navigation */
    nav {
        width: auto;
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding-left: 4px;
    }

    nav a {
        font-size: 1.3em;
    }


    /* On enlève la bannière pcq elle n'est pas très utile sur petit écran */
    #banniere_wyes {
        display: none;
    }


    /* Le côter aside va se situer en dessous du texte à propos de WYES */
    section {
        flex-direction: column;
        margin-top: 5px;
    }

    article,
    aside {
        width: auto;
        margin-bottom: 15px;
    }
}