
/* Header: En-tête de la page */
header
{
	display: flex; /* Mettre tout l'en-tête sur la même ligne */
	align-items: flex-end; /* Aligne en bas mon logo et ma navigation */
}



/* Nav: Navigation Transversale de la page */

nav ul
{
	list-style-type: none; /* Enlève les puces */
	display: flex; /* Mettre tout sur une ligne */
	margin-left: 65px;
}

nav li
{
	margin-right: 25px;
}

nav a
{
	font-size: 1.62em;
	color: navy;
	text-decoration: none; /* Cela enlève le soulignement */
}

.sorts-liste{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}

.sorts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1%;
    
}

.texte{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin-left: 2%;
}


.img{
    width: 100px;
}

body{
    margin-left: 2%;
}

/* Footer: le bas de la page */

footer
{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

footer #dans_footer
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 55px;
    display: flex;
    flex-direction: row;
}

footer h1
{
    text-align: center;
    font-size: 1.8em;
}

footer p
{
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

footer a
{
    color: navy;
    text-decoration: none;
    font-size: 1.5em;
}

footer a:hover
{
    color: maroon;
    text-decoration: underline maroon;
}

    
#suivez-nous {
    margin-left: 80px;
    margin-right: 72px;
}

#suivez-nous img {
    width: 70px;
    margin-right: 5px;
}
